 /*Ajout de Guillaume CONNAN pour éviter l'ascenceur vertical  */
.md-typeset div.arithmatex  {
    overflow: initial;
}

/*Ajout de Sébastien HOARO pour avoir une taille de police normale dans les admonotions  */
.md-typeset .admonition {
    font-size: 0.8rem;
}

.md-typeset details {
    font-size: 0.8rem;
}

/*Ajout de Gilles LASSUS pour centrer les images en Markdown avec l'extension attr_list : ![monimage](data/image.png){: .center width=50%} */
/* source https://github.com/squidfunk/mkdocs-material/issues/748 */
.center {
    display: block;
    margin: 0 auto;
}

body {
  font-family: @@font_name@@;
       font-size: 1.35rem;
/*        background-color: @@bg_color@@; */
 /*  background-color: white;*/
  /* color: @@fg_color@@;*/
  counter-reset: h1 h2 h3;
}
 
h1 {
  background-color: rgb(148, 155, 155);
  border-style: none none none groove; 
  font-size: 11pt;
  padding-left:10px;
  margin-left: :5px;
  border-color:black;
  border-width: 1px 1x 3px 15px;
  color: white;
  font-family: @@font_name@@;
}
h2 {
  background-color: rgb(145, 106, 35);
  padding-left:10px;
  font-family: @@font_name@@;
  font-size: 11pt;
  border-style: none none none groove; 
  border-color:black;
  border-width: 1px 1x 3px 15px;
}
h3 {
    color: brown;
}
h1:before {
  content: counter(h1) ".  ";
  counter-increment: h1;
}
h2:before {
  content: counter(h1) "." counter(h2) "  ";
  counter-increment: h2;
}
h3:before {
  content: counter(h1) "." counter(h2) "." counter(h3) "  ";
  counter-increment: h3;
}
h1 {
  counter-reset: h2;
}
h2 {
  counter-reset: h3;
}
h1.unnumbered, h2.unnumbered, h3.unnumbered {
  counter-reset: none;
}
h1.unnumbered:before, h2.unnumbered:before, h3.unnumbered:before {
  content: none;
  counter-increment: none;
}


:root {
  font-size: 1.35rem;
}

:root {
  --md-admonition-icon--fabquestion: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 448c-110.532 0-200-89.431-200-200 0-110.495 89.472-200 200-200 110.491 0 200 89.471 200 200 0 110.53-89.431 200-200 200zm107.244-255.2c0 67.052-72.421 68.084-72.421 92.863V300c0 6.627-5.373 12-12 12h-45.647c-6.627 0-12-5.373-12-12v-8.659c0-35.745 27.1-50.034 47.579-61.516 17.561-9.845 28.324-16.541 28.324-29.579 0-17.246-21.999-28.693-39.784-28.693-23.189 0-33.894 10.977-48.942 29.969-4.057 5.12-11.46 6.071-16.666 2.124l-27.824-21.098c-5.107-3.872-6.251-11.066-2.644-16.363C184.846 131.491 214.94 112 261.794 112c49.071 0 101.45 38.304 101.45 88.8zM298 368c0 23.159-18.841 42-42 42s-42-18.841-42-42 18.841-42 42-42 42 18.841 42 42z"/></svg>')
}
.md-typeset .admonition.fabquestion,
.md-typeset details.fabquestion {
  border-color: rgb(96, 80, 189);
}
.md-typeset .fabquestion > .admonition-title,
.md-typeset .fabquestion > summary {
  background-color: rgba(96, 80, 189, 0.25);
  border-color: rgb(96, 80, 189);
}
.md-typeset .fabquestion > .admonition-title::before,
.md-typeset .fabquestion > summary::before {
  background-color: rgb(96, 80, 189);
  -webkit-mask-image: var(--md-admonition-icon--fabquestion);
          mask-image: var(--md-admonition-icon--fabquestion);
}

:root {
  --md-admonition-icon--danger: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m15.8 18.5 6 1.6-.4 1.9-9.4-2.5L2.6 22l-.5-1.9 6-1.6L2 16.9l.5-1.9 9.4 2.5 9.4-2.5.5 1.9-6 1.6M9.5 6C8.7 6 8 6.7 8 7.5S8.7 9 9.5 9 11 8.3 11 7.5 10.3 6 9.5 6m5 0c-.8 0-1.5.7-1.5 1.5S13.7 9 14.5 9 16 8.3 16 7.5 15.3 6 14.5 6M13 11l-1-2-1 2h2M12 1C8.1 1 5 4.1 5 8c0 1.9.8 3.6 2 4.9V16h10v-3.1c1.2-1.3 2-3 2-4.9 0-3.9-3.1-7-7-7m3 11v2h-1v-2h-1v2h-2v-2h-1v2H9v-2c-1.2-.9-2-2.3-2-4 0-2.8 2.2-5 5-5s5 2.2 5 5c0 1.6-.8 3.1-2 4z"/></svg>')
}
.md-typeset .admonition.danger,
.md-typeset details.danger {
  border-color: rgb(190, 2, 2);
}
.md-typeset .danger > .admonition-title,
.md-typeset .danger > summary {
  background-color: rgba(96, 96, 96, 0.1);
  border-color: rgb(117, 0, 0);
}
.md-typeset .danger > .admonition-title::before,
.md-typeset .danger > summary::before {
  background-color: rgb(96, 96, 96);
  -webkit-mask-image: var(--md-admonition-icon--danger);
          mask-image: var(--md-admonition-icon--danger);
}


:root {
  --md-admonition-icon--voc: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="m19 1-5 5v11l5-4.5V1m2 4v13.5c-1.1-.35-2.3-.5-3.5-.5-1.7 0-4.15.65-5.5 1.5V6c-1.45-1.1-3.55-1.5-5.5-1.5-1.95 0-4.05.4-5.5 1.5v14.65c0 .25.25.5.5.5.1 0 .15-.05.25-.05C3.1 20.45 5.05 20 6.5 20c1.95 0 4.05.4 5.5 1.5 1.35-.85 3.8-1.5 5.5-1.5 1.65 0 3.35.3 4.75 1.05.1.05.15.05.25.05.25 0 .5-.25.5-.5V6c-.6-.45-1.25-.75-2-1M10 18.41C8.75 18.09 7.5 18 6.5 18c-1.06 0-2.32.19-3.5.5V7.13c.91-.4 2.14-.63 3.5-.63 1.36 0 2.59.23 3.5.63v11.28z"/></svg>')
}
.md-typeset .admonition.voc,
.md-typeset details.voc {
  border-color: rgb(77, 146, 77);
}
.md-typeset .voc > .admonition-title,
.md-typeset .voc > summary {
  background-color: rgba(77, 146, 77, 0.1);
  border-color: rgb(77, 146, 77);
}
.md-typeset .voc > .admonition-title::before,
.md-typeset .voc > summary::before {
  background-color: rgb(77, 146, 77);
  -webkit-mask-image: var(--md-admonition-icon--voc);
          mask-image: var(--md-admonition-icon--voc);
}



:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.75 3.5a.25.25 0 0 0-.25.25v8.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25v-8.5a.25.25 0 0 0-.25-.25H1.75zM0 3.75C0 2.784.784 2 1.75 2h12.5c.966 0 1.75.784 1.75 1.75v8.5A1.75 1.75 0 0 1 14.25 14H1.75A1.75 1.75 0 0 1 0 12.25v-8.5z"/><path d="M6 10.559V5.442a.25.25 0 0 1 .379-.215l4.264 2.559a.25.25 0 0 1 0 .428l-4.264 2.559A.25.25 0 0 1 6 10.559z"/></svg>')
  }
  .md-typeset .admonition.video,
  .md-typeset details.video {
    border-color: rgb(200, 9, 3);
  }
  .md-typeset .video > .admonition-title,
  .md-typeset .video > summary {
    background-color: rgba(43, 101, 155, 0.1);
    border-color: rgb(200, 9, 3);
  }
  .md-typeset .video > .admonition-title::before,
  .md-typeset .video > summary::before {
    background-color: rgb(200, 9, 3);
     /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
  }

:root {
    --md-admonition-icon--history: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.5 8H12v5l4.28 2.54.72-1.21-3.5-2.08V8M13 3a9 9 0 0 0-9 9H1l3.96 4.03L9 12H6a7 7 0 0 1 7-7 7 7 0 0 1 7 7 7 7 0 0 1-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42A8.896 8.896 0 0 0 13 21a9 9 0 0 0 9-9 9 9 0 0 0-9-9"/></svg>')
  }
  .md-typeset .admonition.history,
  .md-typeset details.history {
    border-color: rgb(235, 178, 21);
  }
  .md-typeset .history > .admonition-title,
  .md-typeset .history > summary {
    background-color: rgba(235, 178, 21, 0.1);
    border-color: rgb(235, 178, 21);
  }
  .md-typeset .history > .admonition-title::before,
  .md-typeset .history > summary::before {
    background-color: rgb(235, 178, 21);
    -webkit-mask-image: var(--md-admonition-icon--history);
            mask-image: var(--md-admonition-icon--history);
  }


:root {
    --md-admonition-icon--capytale: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="m149.9 349.1-.2-.2-32.8-28.9 32.8-28.9c3.6-3.2 4-8.8.8-12.4l-.2-.2-17.4-18.6c-3.4-3.6-9-3.7-12.4-.4l-57.7 54.1c-3.7 3.5-3.7 9.4 0 12.8l57.7 54.1c1.6 1.5 3.8 2.4 6 2.4 2.4 0 4.8-1 6.4-2.8l17.4-18.6c3.3-3.5 3.1-9.1-.4-12.4zm220-251.2L286 14C277 5 264.8-.1 252.1-.1H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V131.9c0-12.7-5.1-25-14.1-34zM256 51.9l76.1 76.1H256zM336 464H48V48h160v104c0 13.3 10.7 24 24 24h104zM209.6 214c-4.7-1.4-9.5 1.3-10.9 6L144 408.1c-1.4 4.7 1.3 9.6 6 10.9l24.4 7.1c4.7 1.4 9.6-1.4 10.9-6L240 231.9c1.4-4.7-1.3-9.6-6-10.9zm24.5 76.9.2.2 32.8 28.9-32.8 28.9c-3.6 3.2-4 8.8-.8 12.4l.2.2 17.4 18.6c3.3 3.5 8.9 3.7 12.4.4l57.7-54.1c3.7-3.5 3.7-9.4 0-12.8l-57.7-54.1c-3.5-3.3-9.1-3.2-12.4.4l-17.4 18.6c-3.3 3.5-3.1 9.1.4 12.4z"/></svg>')
  }
  .md-typeset .admonition.capytale,
  .md-typeset details.capytale {
    border-color: rgb(210, 180, 140);
  }
  .md-typeset .capytale > .admonition-title,
  .md-typeset .capytale > summary {
    background-color: rgba(210, 180, 140, 0.1);
    border-color: rgb(210, 180, 140);
  }
  .md-typeset .capytale > .admonition-title::before,
  .md-typeset .rappel > summary::before {
    background-color: rgb(210, 180, 140);
    -webkit-mask-image: var(--md-admonition-icon--capytale);
            mask-image: var(--md-admonition-icon--capytale);
  }

:root {
    --md-admonition-icon--objectif: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>')
  }
  .md-typeset .admonition.objectif,
  .md-typeset details.objectif {
    border-color: rgb(77, 146, 77);
  }
  .md-typeset .objectif > .admonition-title,
  .md-typeset .objectif > summary {
    background-color: rgba(77, 146, 77, 0.1);
    border-color: rgb(77, 146, 77);
  }
  .md-typeset .objectif > .admonition-title::before,
  .md-typeset .objectif > summary::before {
    background-color: rgb(77, 146, 77);
    -webkit-mask-image: var(--md-admonition-icon--objectif);
            mask-image: var(--md-admonition-icon--objectif);
  }

:root {
    --md-admonition-icon--aide: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 8C119.033 8 8 119.033 8 256s111.033 248 248 248 248-111.033 248-248S392.967 8 256 8zm173.696 119.559-63.399 63.399c-10.987-18.559-26.67-34.252-45.255-45.255l63.399-63.399a218.396 218.396 0 0 1 45.255 45.255zM256 352c-53.019 0-96-42.981-96-96s42.981-96 96-96 96 42.981 96 96-42.981 96-96 96zM127.559 82.304l63.399 63.399c-18.559 10.987-34.252 26.67-45.255 45.255l-63.399-63.399a218.372 218.372 0 0 1 45.255-45.255zM82.304 384.441l63.399-63.399c10.987 18.559 26.67 34.252 45.255 45.255l-63.399 63.399a218.396 218.396 0 0 1-45.255-45.255zm302.137 45.255-63.399-63.399c18.559-10.987 34.252-26.67 45.255-45.255l63.399 63.399a218.403 218.403 0 0 1-45.255 45.255z"/></svg>')
  }
  .md-typeset .admonition.aide,
  .md-typeset details.aide {
    border-color: rgb(77, 146, 77);
  }
  .md-typeset .aide > .admonition-title,
  .md-typeset .aide > summary {
    background-color: rgba(77, 146, 77, 0.1);
    border-color: rgb(77, 146, 77);
  }
  .md-typeset .aide > .admonition-title::before,
  .md-typeset .aide > summary::before {
    background-color: rgb(77, 146, 77);
    -webkit-mask-image: var(--md-admonition-icon--aide);
            mask-image: var(--md-admonition-icon--aide);
  }

@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.1);
    }
  }
.heart {
    animation: heart 1000ms infinite;
    color:firebrick
  }
  
:root {
    --md-admonition-icon--savoir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>')
  }
  .md-typeset .admonition.savoir,
  .md-typeset details.savoir {
    border-color: rgb(219, 16, 16);
  }
  .md-typeset .savoir > .admonition-title,
  .md-typeset .savoir > summary {
    background-color: rgba(185, 27, 101, 0.1);
    border-color: rgb(219, 16, 16);
  }
  .md-typeset .savoir > .admonition-title::before,
  .md-typeset .savoir > summary::before {
    background-color: rgb(219, 16, 16);
    animation: heart 1000ms infinite;
    -webkit-mask-image: var(--md-admonition-icon--savoir);
            mask-image: var(--md-admonition-icon--savoir);
  }
  
  :root {
    --md-admonition-icon--exo: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>')
  }
  .md-typeset .admonition.exo,
  .md-typeset details.exo {
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .exo > .admonition-title,
  .md-typeset .exo > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
  }
  .md-typeset .exo > .admonition-title::before,
  .md-typeset .exo > summary::before {
    background-color: rgb(43, 155, 70);
    -webkit-mask-image: var(--md-admonition-icon--exo);
            mask-image: var(--md-admonition-icon--exo);
  }
  

table, td, th {
    border: 1.5px solid black;
    border-collapse: collapse;
    }
